# Caddy reverse proxy for prototype
# Self-signed certs for IP address (browser will show warning)

# Open WebUI on port 443
https://88.222.213.96 {
    tls internal
    reverse_proxy open-webui:8080
}

# Keycloak on port 8443
https://88.222.213.96:8443 {
    tls internal
    reverse_proxy keycloak:8080
}

# Redirect HTTP to HTTPS
http://88.222.213.96 {
    redir https://88.222.213.96{uri}
}
